# Integrated Dev Env files
**/.idea
**/.DS_Store

# Logs
**/*.log

#vault secrets file
**/.nvaultutil.json

# Runtime data
*.pid

# Npm cache directory
.npm

# Dependency directories
node_modules

#Run-time test reports
coverage

